
Label {
    margin: 10;
    horizontal-align: center;
    vertical-align: center;
}

Image {
    margin: 10;
}

.font{
    color:#1366af;
    font-size: 20px;
    padding-bottom: 20;
}
.btnsize{
    height:60;
}
.inputs{
    padding-bottom: 20;
}
.titles{
    text-align: right
}
